.red {
  color: red;
  text-align: center;
}

.border-blue {
  border: 1px solid blue;
}

.img-size {
  width: 200px;
  height: 200px;
}

.margin-space {
  margin-top: 40px;
  margin-left: 20px;
}

.padding-space {
  padding-top: 40px;
}
