body {
  color: blue;
}

/* @media (max-width: 600px) {
  .cellphone {
    color: red;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .tablet {
    color: red;
  }
}

@media (min-width: 992px) {
  .desktop {
    color: red;
  }
} */

@media (orientation: landscape) {
  body {
    color: green;
    display: flex;
  }
  .desktop {
    color: blue;
  }
}

@media (orientation: portrait) {
  body {
    color: orange;
  }
}

@media print {
  body {
    color: purple;
  }
}
